Print the result of 1.22 multiplied by 49021

In [0]:
print(1.22 * 49021)

Print the result of 214 divided by 6

In [0]:
print(214 / 6)

Print the result of 214 divided by 6, discarding the fractional result

In [ ]:
print(214 // 6)

Print the result of 3 divided by 0.3

In [0]:
print(3 / 0.3)

Print the remainder of 214 divided by 6

In [0]:
print(214 % 6)

Print the value of 3 raised to the 11th power

In [0]:
print(3**11)

Print the nearest integer of 3.5

In [0]:
round(3.5)

## Data Types Practice

Print the data type of "False"

In [0]:
type("False")

Print the data type of True

In [0]:
type(True)

Print the data type of the result of 20000 divided by 10

In [0]:
type(20000 / 10)

Cast the value of 6.3 divided by 3.8 to an integer and print it

In [0]:
print(int(6.3 / 3.8))

## String Practice

Concatenate and print the strings 'I', 'Love', and 'Python'.  Add a single empty space between the strings.

In [0]:
print('I','Love','Python')

Make the following print statement correct:<br />
print("4 % 2 = " + (4 % 2))

In [0]:
print('4 % 2 = ' + str(4 % 2))

Print the following sentences, (including the double quotes):<br />
Albert Einstein's best quote is "I have no special talent. I am only passionately curious."

In [0]:
print("Albert Einstein's best quote is \"I have no special talent. I am only passionately curious.\"")

Print the following sentences, (including the backslashes and double quotes):<br />
In Python strings, the backslash (\\) is a special character, also called the "escape" character.<br />
Prefixing a special character (e.g. single quote) with a backslash (\\) turns it into an ordinary character.

In [ ]:
print("In Python strings, the backslash (\\) is a special character, also called the \"escape\" character. ")
print("Prefixing a special character (e.g. single quote) with a backslash (\\) turns it into an ordinary character.")